* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.form, .controls {
  flex: none;
  display: flex;
  justify-content: center;
}

.image-container {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.image-container.scale-down {
  overflow: hidden;
}

.image-container.scale-down > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.image.loading {
  opacity: 0.5;
}
